<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Assignment_11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Question1</display-name>
    <servlet-name>Question1</servlet-name>
    <servlet-class>com.example.question1.Question1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question1</servlet-name>
    <url-pattern>/Question1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question2</display-name>
    <servlet-name>Question2</servlet-name>
    <servlet-class>com.example.question2.Question2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question2</servlet-name>
    <url-pattern>/Question2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question3</display-name>
    <servlet-name>Question3</servlet-name>
    <servlet-class>com.example.question3.Question3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question3</servlet-name>
    <url-pattern>/Question3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question4</display-name>
    <servlet-name>Question4</servlet-name>
    <servlet-class>com.example.question4.Question4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question4</servlet-name>
    <url-pattern>/Question4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question5</display-name>
    <servlet-name>Question5</servlet-name>
    <servlet-class>com.example.question5.Question5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question5</servlet-name>
    <url-pattern>/Question5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinationServlet</display-name>
    <servlet-name>DestinationServlet</servlet-name>
    <servlet-class>com.example.question5.DestinationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinationServlet</servlet-name>
    <url-pattern>/DestinationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question6</display-name>
    <servlet-name>Question6</servlet-name>
    <servlet-class>com.example.question6.Question6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question6</servlet-name>
    <url-pattern>/Question6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question7</display-name>
    <servlet-name>Question7</servlet-name>
    <servlet-class>com.example.question7.Question7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question7</servlet-name>
    <url-pattern>/Question7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question8</display-name>
    <servlet-name>Question8</servlet-name>
    <servlet-class>com.example.question8.Question8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question8</servlet-name>
    <url-pattern>/Question8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question9</display-name>
    <servlet-name>Question9</servlet-name>
    <servlet-class>com.example.question9.Question9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question9</servlet-name>
    <url-pattern>/Question9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question10</display-name>
    <servlet-name>Question10</servlet-name>
    <servlet-class>com.example.question10.Question10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question10</servlet-name>
    <url-pattern>/Question10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.example.question10.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
</web-app>